<div class="Pagination-template">
    <nav aria-label="...">
      <div class="ddc-pagination">
        <div class="Pagination-item" *ngIf="!(finalNumPages[0] == 0)" (click)="previousPage()"><p><</p></div>
        <div *ngFor="let page of finalNumPages" >

          <div  (click)="gotoPage(page)" [ngClass]="currentPageViewMain == page ? 'Pagination-item-active' : 'Pagination-item'">
                  
                  <p>{{page+1}}</p>
                
          </div>
        </div>
        <div class="Pagination-item" *ngIf="!(finalNumPages[finalNumPages.length-1]+1 == numberOfPages)"
           (click)="resetPages()"><p>></p></div>
        
    
      </div>
    </nav>
  </div>
