<div class="Pagination-template">
    <nav aria-label="...">
      <div class="ddc-pagination">
        <div class="Pagination-item"><p><</p></div>
        <div class="Pagination-item"><p>1</p></div>
        <div class="Pagination-item"><p>2</p></div>
        <div class="Pagination-item"><p>3</p></div>
        <div class="Pagination-item"><p>4</p></div>
        <div class="Pagination-item"><p>5</p></div>
        <div class="Pagination-item"><p>6</p></div>
        <div class="Pagination-item"><p>7</p></div>
        <div class="Pagination-item"><p>8</p></div>
        <div class="Pagination-item"><p>9</p></div>
        <div class="Pagination-item"><p>></p></div>
        
    
      </div>
    </nav>
  </div>
