

<div class="Front-End-Test---Home-view">
    <div class="Rectangle-2-Copy">
        HACKER-NEWS

    </div>

    <div class="Group-button-tab">
        <button routerLink="/app/main" class="TabAll"  routerLinkActive="TabActive">
            <span class="ContentTab">
                All
            </span>
        </button>
        <button  routerLink="/app/faves" class="TabMyFaves" routerLinkActive="TabActive">
            <span class="ContentTab">
                My faves
            </span>
        </button>
    </div>

    <router-outlet></router-outlet>






</div>