<section class="News-section">
    <div class="Rectangle-26-Copy-23" #options (click)="toggleSelect()">


        <img [src]="selectedLanguageImage" height="27px" alt="" *ngIf="selectedLanguageImage != ''">
        <span class="Text">
            {{selectedLanguageText}}
        </span>

        <div class="Toggle-icon">

            <img src="assets/images/main-view/dropdownicon.png" width="11px" alt="">
        </div>

    </div>

    <div class="Rectangle-Options" *ngIf="toggleIsDisplayed" #inside>


        <div class="Rectangle-Item" *ngFor="let language of dataLanguages" (click)="selectLanguage(language)">
            <img [src]="language.photoUrl" height="29px" alt="" class="ImgFramework">

            <span class="Framework-Dropdown">
                {{language.name}}
            </span>
        </div>


    </div>



</section>
<div class="Content-found">
    <div class="wrapper" *ngIf="!loadingInfo; else loadingTemplate">
        <app-rectangle-result [result]="result" *ngFor="let result of resultSearch | arrangedate">
        </app-rectangle-result>
    </div>
    <ng-template #loadingTemplate>
        <div style=" width: 100%; display:flex; justify-content: center;">
            <img src="assets/images/main-view/loading.jpg" alt="">
        </div>
    </ng-template>
</div>


<app-pagination [newsPerPage]="newsPerPage" [numberOfPages]="numberOfPages" (newItemEvent)="onUpdatePage($event)" *ngIf="resultSearch.length>0"></app-pagination>